language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

matrix:
  allow_failures:
    - python: "3.6"

branches:
  only:
  - master
  - develop
  - py3.8-bugfixes
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/ # Build releases tagged in the form `v1.2.3`

# command to install dependencies
install:
  - pip install git+git://github.com/PhenomeCentre/pyChemometrics
  - pip install -r requirements.txt
  - git clone https://github.com/phenomecentre/npc-standard-project.git --single-branch --depth 1 --branch $TRAVIS_BRANCH ../npc-standard-project
  - pip install xlrd
  - pip install coverage
  - pip install codecov

# command to run tests
before_script:
  - cd Tests

script:
  - coverage run -m unittest discover

after_success:
  - coverage combine
  - codecov
  - cd ../

deploy:
  provider: pypi
  user: "phenomecentre"
  password:
    secure: v35TWP0D5dJGfsSFldlMcLipiZHmaFSq+GY+vQJ995gnCQvarCeItfzhZKw1GatkQHTyJWovFZXYczYzI4qGDnfM+D+pUOPVkZYFk78HlsEUJkbdZ2SB9FM0glit8/EPAZf18srYlFDIM+Vph7dU9/NgSFi4WWuWG+123DbOzJkwuMFXPfHpU4Wu7BCYvzj+7nvs+aY1iH4b1apGMjs56fz5mPOa6CBx0NNl875FB5Mc1Ax/pM+xCdbpSL0gtV/VpB3D/ePUBYqDMXt3Nve21uSKMnXNa0b12SZWHXTLU7r5KIRgZ1//K2Uxr6SF3KbYvg/D/N4+mHs2QNb1oVEbu028RaLQupRfoSTtW9d+9818EHrcHjpnll/WeLNmkPnp37tpzWNe4wAlF6LOlvFcSQaxhppLoupcRIKR8hbC9Hn+CJUA0WXEEt+owa71S0KWIJhb68Lz2Ku7uVhT3sEbYDjoBH5khA/WdDb9pqEP6IbSvMZ3NnX3U4ods+TAF673ISMJ/WFuBM35rKyQX1K9jkkK7LKWmWz6f2W5R0t7PW3vU4WP4Fj6QQKPHpbG2K0LCjndoZr1kRS6ilorPNP2SNlDoqWD8mcWn1wWzmNvRXSeWu49lz2WOz5CB4nr843BW4KpoZ+Q0//jldfseUm19P5K6sApkJUfGACrmRL1SBI=
  distributions: "sdist bdist_wheel"
  on:
    branch: master
    tags: true
    python: 3.6
