statsmodels==0.8.0
pandas==0.21.0
isatools==0.9.3
cycler==0.10.0
Jinja2==2.9.6
networkx==2.0
plotly==2.2.2
matplotlib==2.1.0
numpy==1.13.3
scipy==1.0.0
lmfit==0.9.7
seaborn==0.8.1
ipython==6.2.1
scikit_learn==0.19.1
pyChemometrics>=0.1
