{% extends "base_QC.html" %}

{% import 'sampleReportChunk.html' as sampleReport %}

{% block title %}Assay Summary Report For: {{ item.Name }}{% endblock %}

{% block content %}

<!--Overall Summary_______________________________________________________________________________________________________________-->
<h2>Final Dataset</h2>

<div class='content'>
	<p>{{ item['Nsamples'] }} samples</p>
	<p>{{ item['Nfeatures'] }} features</p>
	<p></p>
</div>

<!--Sample Details________________________________________________________________________________________________________________-->
<h2>Sample Summary</h2>

<!--Summary of samples in final dataset-->
<div class='content'>
	<p class="caption"><span class="heading">Table&nbsp;1.</span> Sample summary table.</p>
	{{ item.sampleSummary['Acquired'].to_html() }}
	<p>For details on sample nomenclature see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/studydesign.html" target="_blank" rel="noopener noreferrer">Sample Nomenclature</a>
	</p>
	<p>*Details of any missing/excluded study samples given at the end of the report</p>
	<p></p>
</div>

<!--Feature Summary______________________________________________________________________________________________________________-->
<h2>Feature Summary</h2>

<div class='content'>
	<p>Samples acquired in {{ item['batchesCollect'] }} between {{ item['start'] }} and {{ item['end'] }}</p>
	<p>{{ item['batchesCorrect'] }})</p>
	<p>For more details on run-order and batch correction see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/batchAndROCorrection.html" target="_blank" rel="noopener noreferrer">Batch and Run-order Correction</a>
	</p>
	<p></p>
	<p>
		For LC-MS datasets, filters are applied to ensure that only high quality features are retained, for more details see:
		<a href="https://pubmed.ncbi.nlm.nih.gov/27479709/" target="_blank" rel="noopener noreferrer">Lewis et al. 2016</a>
		In brief, features are filtered on three key criteria:
		<ol type="1">
  			<li>Correlation to dilution factor (calculated from SR samples acquired at known dilution factors), assess that features are measured relative to their true abundance</li>
  			<li>Relative Standard Deviation, RSD (calculated across repeat injections of the SR sample), assesses that features are measured precisely</li>
  			<li>Comparing RSD in SR and SS, the biological variance (RSD in SS) should always exceed the analytical variance (RSD in SR)</li>
		</ol>
		For more details see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/reports.html#feature-summary-report-lc-ms-datasets" target="_blank" rel="noopener noreferrer">Feature Quality Assessment</a>
	</p>

	<p class="caption"><span class="heading">Table&nbsp;2.</span> Features selected based on the following criteria:</p>
	{{ item['FeatureSelectionTable'].to_html() }}
	<p></p>
</div>


<!--Figure 1: RSD histogram-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;1.</span> Residual Standard Deviation (RSD) histogram for study reference samples and all features in final dataset, segmented by abundance percentiles.</p>
	<img src="{{ item['finalRsdHist'] }}" alt="Residual Standard Deviation (RSD) histogram for study reference samples and all features in final dataset, segmented by abundance percentiles.">
</div>

<!--Figure 2: RSD for all samples and features passing selection-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;2.</span> Residual Standard Deviation (RSD) distribution for all samples and all features in final dataset (by sample type).</p>
	<img src="{{ item.finalRSDdistributionFigure }}" alt="Residual Standard Deviation (RSD) distribution for all samples and all features in final dataset (by sample type).">
</div>

<!--Figure 3: Feature intensity histogram-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;3.</span> Feature Intensity histogram for all samples and all features in final dataset (by sample type).</p>
	<img src="{{ item['finalFeatureIntensityHist'] }}" alt="Feature Intensity histogram for all samples and all features in final dataset (by sample type).">
</div>	


<!--Figure 4: Ion map of all features (coloured by log median intensity)-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;4.</span> Ion map of all features (coloured by log median intensity).</p>
	<img src="{{ item.finalIonMap}}" alt="Ion map of all features (coloured by log median intensity).">
</div>

<!--Details of any missing/excluded samples-->
{% if 'StudySamples Exclusion Details' in item.sampleSummary %}
	<h2>Missing/Excluded Study Samples</h2>
	<p class="caption"><span class="heading">Table&nbsp;3.</span> Details of missing/excluded study samples.</p>
	{{ item.sampleSummary['StudySamples Exclusion Details'].to_html() }}
{% endif %}

{% endblock %}