{% extends "base_QC.html" %}

{% import 'sampleReportChunk.html' as sampleReport %}

{% block title %}Assay Summary Report For: {{ item.Name }}{% endblock %}

{% block content %}

<!--Overall Summary_______________________________________________________________________________________________________________-->
<h2>Final Dataset</h2>

<div class='content'>
	<p>{{ item['Nsamples'] }} samples</p>
	<p>{{ item['Nfeatures'] }} features</p>
	<p></p>
</div>

<!--Sample Details________________________________________________________________________________________________________________-->
<h2>Sample Summary</h2>

<!--Summary of samples in final dataset-->
<div class='content'>
	<p class="caption"><span class="heading">Table&nbsp;1.</span> Sample summary table.</p>
	{{ item.sampleSummary['Dataset'].to_html() }}
	<p>For details on sample nomenclature see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/studydesign.html" target="_blank" rel="noopener noreferrer">Sample Nomenclature</a>
	</p>
	<p>*Details of any missing/excluded study samples given at the end of the report</p>
	<p></p>
</div>

<!--Feature Summary______________________________________________________________________________________________________________-->
<h2>Feature Summary</h2>

<div class='content'>
	<p>Samples acquired in {{ item['batchesCollect'] }} between {{ item['start'] }} and {{ item['end'] }}</p>

	{% if 'batchesCorrect' in item %}
		<p>Run-order and batch correction applied (LOWESS regression fitted to SR samples in {{ item['batchesCorrect'] }})</p>
		<p>For more details on run-order and batch correction see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/batchAndROCorrection.html" target="_blank" rel="noopener noreferrer">Batch and Run-order Correction</a></p>
	{% else %}
		<p>Run-order and batch correction not applied</p>
	{% endif %}

	{% if 'featuresFiltered' in item %}
		<p>
			For LC-MS datasets, filters are applied to ensure that only high quality features are retained, for more details see:
			<a href="https://pubmed.ncbi.nlm.nih.gov/27479709/" target="_blank" rel="noopener noreferrer">Lewis et al. 2016</a>
			In brief, features are filtered on three key criteria:
			<ol type="1">
				<li>Relative Standard Deviation, RSD (calculated across repeat injections of the SR sample), assesses that features are measured precisely</li>
				<li>Correlation to dilution factor (calculated from SR samples acquired at known dilution factors), assess that features are measured relative to their true abundance</li>
				<li>Comparing RSD in SR and SS, assesses that the biological variance (RSD in SS) exceeds the analytical variance (RSD in SR)</li>
			</ol>
			For more details see:
			<a href="https://npyc-toolbox.readthedocs.io/en/latest/reports.html#feature-summary-report-lc-ms-datasets" target="_blank" rel="noopener noreferrer">Feature Quality Assessment</a>
		</p>
	{% else %}
		<p>
			Important note: owing to sample number/volume limitations samples were acquired without our usual quality control samples and procedures.
			Samples have been acquired in triplicate to enable assessment of analytical/instrumental performance, however, feature quality
			according to recommended metrics (see:
			<a href="https://pubmed.ncbi.nlm.nih.gov/27479709/" target="_blank" rel="noopener noreferrer">Lewis et al. 2016</a>)
			can not be determined. Any observations can be interpreted qualitatively, for more confidence in feature quality
			and robust analyses, larger sample numbers/volumes should be collected and analysed if possible.
		</p>
	{% endif %}

	<p class="caption"><span class="heading">Table&nbsp;2.</span> Features selected based on the following criteria:</p>
	{{ item['FeatureSelectionTable'].to_html() }}
	<p></p>
</div>

<!--Figure 1: RSD for all samples and features passing selection-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;1.</span> RSD distribution for all samples and all features in final dataset (by sample type)</p>
	<img src="{{ item.finalRSDdistributionFigure }}" alt="Residual Standard Deviation (RSD) distribution for all samples and all features in final dataset (by sample type).">
	<p>This figure shows the distribution of RSD by sample type, ordered by {{ item['orderFeaturesBy'] }}.</p>
	{% if 'NfeaturesFailing' in item %}
	 <p>Features passing selection (i.e., able to be well measured) can be found above the line and those failing (i.e., not able to be well measured) below the line.
	{% endif %}
</div>

<!--Figure 2: Feature intensity histogram-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;2.</span> Feature Intensity histogram for all samples and all features in final dataset (by sample type).</p>
	<img src="{{ item['finalFeatureIntensityHist'] }}" alt="Feature Intensity histogram for all samples and all features in final dataset (by sample type).">
	<p>This figure shows the feature intensity distribution by sample type.</p>
</div>

<!--Figure 3: Ion map of all features (coloured by log median intensity)-->
<div class='figure'>
	<p class="caption"><span class="heading">Figure&nbsp;3.</span> Ion map of all features (coloured by log median intensity).</p>
	<img src="{{ item.finalIonMap}}" alt="Ion map of all features (coloured by log median intensity).">
	<p>This figure shows the coverage of features in terms of their m/z and retention time.
		In a global profiling dataset, the a priori identity of these features is unknown, however please see the (assay specific) 'Further Information: Assay Coverage' section below for high level compound class information.</p>
</div>

<!--Figure 4: RSD in SR vs correlation to dilution factor (if available)-->
<p class="caption"><span class="heading">Figure&nbsp;4.</span> Scatterplot of RSD in SR samples vs. correlation to dilution.</p>
{% if 'RsdVsCorrelationFigure' in item %}
	<div class='figure'>
		<img src="{{ item.RsdVsCorrelationFigure }}" alt="Scatterplot of RSD in SR samples vs. correlation to dilution.">
		<p>This figure shows the distribution of two key criteria of feature quality, RSD in SR samples, and correlation to dilution factor.
		All features pass quality criteria (see Table 2), the highest quality features are in the top left quadrant. </p>
	</div>
{% else %}
	<p>RSD SR and/or correlation to dilution factor data not available to plot.</p>
{% endif %}

<!--Details of any missing/excluded samples-->
{% if 'Missing/excluded SS Details' in item.sampleSummary %}
	<h2>Missing/Excluded Study Samples</h2>
	<p class="caption"><span class="heading">Table&nbsp;3.</span> Details of missing/excluded study samples.</p>
	{{ item.sampleSummary['Missing/excluded SS Details'].to_html() }}
{% endif %}

<!--Add annotated spectra/ion maps for all NPC assays-->

<h2>Further Information: Links</h2>

<div class='content'>
	<p>The following section includes further information on NPC assay coverage and links to methods and documentation</p>
	<p>For information on methods, please see:
		<a href="https://chemrxiv.org/engage/chemrxiv/article-details/61ebd6fa0716a8529e3823dc" target="_blank" rel="noopener noreferrer">Lewis et al. 2022</a>
	</p>
	<p>For our full documentation on pre-processing and quality control, please see:
		<a href="https://npyc-toolbox.readthedocs.io/en/latest/" target="_blank" rel="noopener noreferrer">NPC preprocessing and QC documentation (readthedocs)</a>
	</p>
	<p>For tutorials on pre-processing and quality control, please see:
		<a href="https://github.com/phenomecentre/nPYc-toolbox-dementia-tutorials" target="_blank" rel="noopener noreferrer">NPC preprocessing and QC tutorials (GitHub)</a>
	</p>
</div>

<h2>Further Information: Assay Coverage</h2>

<div class='content'>
	<p>Please scroll down for information on the theoretical coverage of NPC assays</p>
	<embed src="graphics/NPC_assay_coverage.pdf" width="1100" height="700" type="application/pdf">
</div>


{% endblock %}