{% extends "base_QC.html" %}

{% block title %}QC Summary Report For: {{ item.Name }}{% endblock %}

{% block content %}

<!--BL *& PW plots______________________________________________________________________________________________________________-->

<div class='figure1'>
	<p class="caption"><span class="heading">Figure&nbsp;1.</span> Chemical Shift Calibration</p>
	<img src="{{ item['calibrationCheck'] }}" alt="Chemical Shift Calibrationt.">
	<h4>{{ item['fig1SummaryText'] }}</h4>
</div>

<div class='figure1'>
	<p class="caption"><span class="heading">Figure&nbsp;2.</span> Peak Width</p>
	<img src="{{ item['peakWidthBoxplot'] }}" alt="Peak Width plot.">
	<h4>{{ item['fig1SummaryText'] }}</h4>
</div>

<div class='figure2'>
	<p class="caption"><span class="heading">Figure&nbsp;3.</span> Baseline low &amp; high</p>
	<img src="{{ item['finalFeatureBLWPplots1']}}" alt="Baseline plot.">
</div>

<div class='figure3'>
	<p class="caption"><span class="heading">Figure&nbsp;4.</span> Water peak low &amp; high</p>
	<img src="{{ item['finalFeatureBLWPplots3']}}" alt="Water peak plot.">
	<h4>{{ item['fig2to3SummaryText'] }}</h4>
</div>

<!--Summary of samples acquired________________________________________________________________________________________________________________-->
{% if failSummary is not none %}
	<h3>Samples Failing QC Checks</h3>
	{{ failSummary.to_html() }}
{% endif %}
{% endblock %}