{% extends "base_QC.html" %}

{% import 'pcaReport.html' as pca %}
<!-->{% import 'sampleReportChunk.html' as sampleReport %}-->

{% block title %}Assay Summary Report For: {{ item.Name }}{% endblock %}

{% block content %}

<!--Overall Summary_______________________________________________________________________________________________________________-->
<h2>Final Dataset</h2>

<div class='content'>
	<p>{{ item['Nsamples'] }} samples</p>
	<p>{{ item['Nfeatures'] }} features</p>
	<p></p>
</div>

<!--Sample Details________________________________________________________________________________________________________________-->
<h2>Sample Summary</h2>

<!--Summary of samples in final dataset-->
<div class='content'>
	<p class="caption"><span class="heading">Table&nbsp;1.</span> Sample summary table.</p>
	{{ item.sampleSummary['Acquired'].to_html() }}
	<p>*Details of any missing/excluded study samples given at the end of the report</p>
	<p></p>
</div>

<!--Spectral Data Summary_________________________________________________________________________________________________________-->
<h2>Spectral Data Summary</h2>

<div class='content'>
	<p class="caption"><span class="heading">Table&nbsp;2.</span> Data processed with the following criteria:</p>
	{{ item['DataParametersTable'].to_html() }}
	<p>Samples acquired between {{ item['start'] }} and {{ item['end'] }}.</p>
	<p></p>
</div>

<!--Figure 1: Line width boxplot-->
<div class='figure1'>
	<p class="caption"><span class="heading">Figure&nbsp;1.</span> Boxplot of line width distributions (by sample type).</p>
	<img src="{{ item['linewidthBoxplot'] }}" alt="Peak Width plot.">
</div>

<!--Figure 2: Distribution in intensity of spectral data around the removed water peak region.-->
<div class='figure3'>
	<p class="caption"><span class="heading">Figure&nbsp;2.</span> Distribution in intensity of spectral data around the removed water peak region.</p>
	<img src="{{ item['spectraWaterPeakRegion']}}" alt="Distribution in intensity of spectral data around the removed water peak region.">
</div>

<!--Multivariate -->
{% if pcaPlots %}
	{{ pca.basicPCAReport(pcaPlots) }}
{% endif %}

<!--Details of any missing/excluded samples-->
{% if 'StudySamples Exclusion Details' in item.sampleSummary %}
	<h2>Missing/Excluded Study Samples</h2>
	<p class="caption"><span class="heading">Table&nbsp;3.</span> Details of missing/excluded study samples.</p>
	{{ item.sampleSummary['StudySamples Exclusion Details'].to_html() }}
{% endif %}

{% endblock %}