{% extends "base_QC.html" %}

{% block title %}NPC QC Summary Report For: {{ item.Name}}{% endblock %}

{% block content %}

<!--BL *& PW plots______________________________________________________________________________________________________________-->

<!--Figure 1: peak width box-->
<div class='figure1'>
	<p class="caption"><span class="heading">Figure&nbsp;1.</span> Peak Width</p>
	<img src="{{ item['peakWidthBoxplot'] }}" alt="Peak Width plot.">
	<h4> {{ item['fig1SummaryText'] }}</h4>
</div>

<!--Figure 2: plot-->
<div class='figure2'>
	<p class="caption"><span class="heading">Figure&nbsp;2.</span> Baseline low and high</p>
	<img src="{{ item['finalFeatureBLWPplots1']}}" alt="Baseline plot.">
</div>

<div class='figure3'>
	<p class="caption"><span class="heading">Figure&nbsp;3.</span> Water peak low and high</p>
	<img src="{{ item['finalFeatureBLWPplots3']}}" alt="Water peak plot.">
	<h4> {{ item['fig2to3SummaryText'] }}</h4>
</div>

<div class='figure4'>
	<p class="caption"><span class="heading">Figure&nbsp;4.</span> Feature Intensity Histogram for all samples in final dataset.</p>
	<img src="{{ item['finalFeatureIntensityHist'] }}" alt="Feature Intensity Histogram for all samples in final dataset.">
</div>
	
<!--Summary of samples acquired________________________________________________________________________________________________________________-->
{% if 'failSummary' in item %}
	<h3>All samples that failed</h3>
	{{ item['failSummary'].to_html() }}
{% endif %}	
{% endblock %}