{% macro sampleReport(item) -%}

<div class="content">
<!--Summary of samples acquired________________________________________________________________________________________________________________-->	
<h2>Summary of Samples in Dataset</h2>

{{ item['Dataset'].to_html() }}

<!--Summary of samples missing from acquisition________________________________________________________________________________________________-->

{% if 'Missing Details' in item %}
	<h3>Samples Missing from Acquisition/Import (i.e., present in metadata file but not acquired/imported)</h3>
	{{ item['Missing Details'].to_html() }}
{% endif %}

<!--Details of any excluded/missing samples____________________________________________________________________________________________________-->

{% if 'MarkedToExclude Details' in item %}
	<h3>Samples Marked for Exclusion</h3>
	{{ item['MarkedToExclude Details'].to_html() }}
{% endif %}

{% if 'Excluded Details' in item %}
	<h3>All Samples Missing/Excluded</h3>
	{{ item['Excluded Details'].to_html() }}
{% endif %}

{% if 'Missing/excluded SS Details' in item %}
	<h3>Missing/Excluded Study Samples</h3>
	{{ item.sampleSummary['Missing/excluded SS Details'].to_html() }}
{% endif %}

{% if 'UnknownType Details' in item %}
	<h3>Samples of Unknown Type</h3>
	{{ item['UnknownType Details'].to_html() }}
{% endif %}

{% if 'NoMetadata Details' in item %}
	<h3>Samples for which no Metadata was Provided</h3>
	{{ item['NoMetadata Details'].to_html() }}
{% endif %}

</div>
{%- endmacro %}