{% extends "base_QC.html" %}

{% import 'pcaReport.html' as pca %}
{% import 'sampleReportChunk.html' as sampleReport %}

{% block title %}{{ 'Limits Of Quantification Assessment Report' }} For: {{ item.Name }} {% endblock %}

{% block content %}
<!-- Batch corection assessment report  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!--Intro only present monitored features-->
    <h3>Only quantified features are assessed for the merge of limits of quantification ({{ item['MonitoredFeaturesRatio'] }}).</h3>

    <!--Table 1: Limits of quantification-->
    <p class="caption"><span class="heading">Table 1.</span> Limits of Quantification pre and post merging to the lowest common denominator.</p>
    {{ item['LOQSummaryTable'].to_html() }}

    <!--Table 2: Number of samples <LLOQ-->
    <p class="caption"><span class="heading">Table 2.</span> Number of sample measurements lower than the Lowest Limit of Quantification, pre and post merging to the lowest common denominator.</p>
    {{ item['LLOQSummaryTable'].to_html() }}

    <!--Table 3: Number of samples >ULOQ-->
    <p class="caption"><span class="heading">Table 3.</span> Number of sample measurements greater than the Upper Limit of Quantification, pre and post merging to the lowest common denominator.</p>
    {{ item['ULOQSummaryTable'].to_html() }}

	<!--Figure 1: Measured concentrations pre and post LOQ-->
	<p class="caption"><span class="heading">Figure 1.</span> Measured concentrations pre and post LOQ merge, split by batch and sample types.</p>
	<div class='figure'>
		<div class='figure'>
			{% for value in item.ConcentrationPrePostMergeLOQ %}
				<img src="{{ value }}" alt="Measured concentrations pre and post LOQ merge, split by batch and sample types.">
			{% endfor %}

	</div>

{% endblock %}