{% extends "base_QC.html" %}

{% import 'pcaReport.html' as pca %}
{% import 'sampleReportChunk.html' as sampleReport %}

{% block title %}{{ 'Feature Summary Report' }} For: {{ item.Name }} {% endblock %}

{% block content %}


<!--Feature summary report - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!--Feature Summary-->
	<div class='content'>
		<p>Data consists of {{ item['Nfeatures'] }} features:<p>
		<ul>
			{% for i in item['QTypeIter'] %}
				<li>{{ item['CountQType'][i] }} features {{ item['TextQType'][i] }}.</li>
			{% endfor %}
		</ul>
		</p>
	</div>
	{{ item['FeatureQuantParamTableOverall'].to_html() }}

	<!--Figure 1: Acquisition structure colored by Limits Of Quantification-->
	<p class="caption"><span class="heading">Figure 1.</span> Acquisition structure colored by Limits Of Quantification.</p>
	<div class='figure'>
		<img src="{{ item.AcquisitionStructure }}" alt="Acquisition structure colored by Limits Of Quantification.">
	</div>


	<!--Iterate over Quantification Types-->
	{% for i in item['QTypeIter'] %}

		<!--Title-->
		<h2>Features {{ item['TextQType'][i] }} ({{ item['CountQType'][i] }})</h2>


		<!--Table 1: Feature quantification parameters-->
		<p class="caption"><span class="heading">Table {{ item['figTabNumber']['1'][i] }}.</span> Quantification parameters for features {{ item['TextQType'][i] }}.</p>
		{{ item['FeatureQuantParamTable'][i].to_html() }}


		<!--Figure 2: Feature Accuracy Plot-->
		<p class="caption"><span class="heading">Figure {{ item['figTabNumber']['2'][i] }}.</span> Measurements accuracy for features {{ item['TextQType'][i] }}.</p>
		{% if 'FeatureAccuracyPlot' in item %}
			<div class='figure'>
				<img src="{{ item.FeatureAccuracyPlot[i] }}" alt="Measurements accuracy for features {{ item['TextQType'][i] }}.">
			</div>
		{% else %}
			<p>Unable to calculate (not enough samples with expected concentrations present in dataset).</p>
		{% endif %}


		<!--Figure 3: Feature Precision Plot-->
		{% if 'FeaturePrecisionPlot' in item %}
			<p class="caption"><span class="heading">Figure {{ item['figTabNumber']['3'][i] }}.</span> Measurements precision for features {{ item['TextQType'][i] }}.</p>
			<div class='figure'>
				<img src="{{ item.FeaturePrecisionPlot[i] }}" alt="Measurements precision for features {{ item['TextQType'][i] }}.">
			</div>
		{% elif 'FeatureRSDPlot' in item %}
			<p class="caption"><span class="heading">Figure {{ item['figTabNumber']['3'][i] }}.</span> Measurements RSD for features {{ item['TextQType'][i] }} in all samples (by sample type).</p>
			<div class='figure'>
				<img src="{{ item.FeatureRSDPlot[i] }}" alt="Measurements RSD for features {{ item['TextQType'][i] }} in all samples (by sample type).">
			</div>
		{% else %}
			<p class="caption"><span class="heading">Figure {{ item['figTabNumber']['3'][i] }}.</span> Measurements precision for features {{ item['TextQType'][i] }}.</p>
			<p>Unable to calculate (not enough samples with expected concentrations present in dataset).</p>
		{% endif %}


		<!--Figure 4: Measured concentrations distribution, split by sample types.-->
		<p class="caption"><span class="heading">Figure {{ item['figTabNumber']['4'][i] }}.</span> Measured concentrations distribution, split by sample types, for features {{ item['TextQType'][i] }}.</p>
		<div class='figure'>
			{% for value in item.FeatureConcentrationDistribution[i] %}
				<img src="{{ value }}" alt="Measured concentrations distribution, split by sample types, for features {{ item['TextQType'][i] }}.">
			{% endfor %}

		</div>


		<!--Table 2: Feature Accuracy Precision Table-->
		{% if 'FeatureAccPreTable' in item %}
			<p class="caption"><span class="heading">Table {{ item['figTabNumber']['2'][i] }}.</span> Measurement accuracy (%) and precision (% RSD) for features {{ item['TextQType'][i] }}.</p>
			{{ item['FeatureAccPreTable'][i].to_html() }}
		{% elif 'FeatureRSDTable' in item %}
			<p class="caption"><span class="heading">Table {{ item['figTabNumber']['2'][i] }}.</span> RSD for features {{ item['TextQType'][i] }}.</p>
			{{ item['FeatureRSDTable'][i].to_html() }}
		{% else %}
			<p class="caption"><span class="heading">Table {{ item['figTabNumber']['2'][i] }}.</span> Measurement accuracy (%) and precision (% RSD) for features {{ item['TextQType'][i] }}.</p>
			<p>Unable to calculate (not enough samples with expected concentrations present in dataset).</p>
		{% endif %}

	{% endfor %}

{% endblock %}
