{% extends "base_QC.html" %}

{% import 'pcaReport.html' as pca %}
{% import 'sampleReportChunk.html' as sampleReport %}

{% block title %}{{ 'Final Report' }} For: {{ item.Name }} {% endblock %}

{% block content %}


<!-- Final summary report  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--Overall Summary-->
<h2>Final Dataset</h2>

<div class='content'>
    <p>Method: {{ item['TargMethod'] }}</p>
    <p>{{ item['Nsamples'] }} samples</p>
    <p>{{ item['Nfeatures'] }} features</p>
    <ul>
        {% for i in item['QTypeIter'] %}
            <li>{{ item['CountQType'][i] }} features {{ item['TextQType'][i] }}.</li>
        {% endfor %}
    </ul>
    <p></p>
</div>

<!--Sample Details-->
<h2>Sample Summary</h2>
{% if 'sampleSummary' in item %}
    <h3>Sample Summary Table</h3>
    {{ item['sampleSummary']['Acquired'].to_html() }}
{% endif %}

<div class='content'>
    <p>*Details of any missing samples given at the end of the report</p>
    <p></p>
</div>

<!-- Feature details -->
<h2>Feature Summary</h2>

<!--Summary of Features in final dataset-->
<h3>Feature Summary Table</h3>
{{ item['FeatureQuantParamTableOverall'].to_html() }}

<!--Iterate over Quantification Types-->
{% for i in item['QTypeIter'] %}

    <!--Title-->
    <h2>Features {{ item['TextQType'][i] }} ({{ item['CountQType'][i] }})</h2>


    <!--Table 2: Feature quantification parameters-->
    <p class="caption"><span class="heading">Table {{ item['figTabNumber']['1'][i] }}.</span> Quantification parameters for features {{ item['TextQType'][i] }}.</p>
    {{ item['FeatureQuantParamTable'][i].to_html() }}


    <!--Figure 2: Feature Accuracy Plot-->
    <p class="caption"><span class="heading">Figure {{ item['figTabNumber']['1'][i] }}.</span> Measurements accuracy for features {{ item['TextQType'][i] }}.</p>
    {% if 'FeatureAccuracyPlot' in item %}
        <div class='figure'>
            <img src="{{ item.FeatureAccuracyPlot[i] }}" alt="Measurements accuracy for features {{ item['TextQType'][i] }}.">
        </div>
    {% else %}
        <p>Unable to calculate (not enough samples with expected concentrations present in dataset).</p>
    {% endif %}


    <!--Figure 3: Feature Precision Plot-->
    {% if 'FeaturePrecisionPlot' in item %}
        <p class="caption"><span class="heading">Figure {{ item['figTabNumber']['2'][i] }}.</span> Measurements precision for features {{ item['TextQType'][i] }}.</p>
        <div class='figure'>
            <img src="{{ item.FeaturePrecisionPlot[i] }}" alt="Measurements precision for features {{ item['TextQType'][i] }}.">
        </div>
    {% elif 'FeatureRSDPlot' in item %}
        <p class="caption"><span class="heading">Figure {{ item['figTabNumber']['2'][i] }}.</span> Measurements RSD for features {{ item['TextQType'][i] }} in all samples (by sample type).</p>
        <div class='figure'>
            <img src="{{ item.FeatureRSDPlot[i] }}" alt="Measurements RSD for features {{ item['TextQType'][i] }} in all samples (by sample type).">
        </div>
    {% else %}
        <p class="caption"><span class="heading">Figure {{ item['figTabNumber']['2'][i] }}.</span> Measurements precision for features {{ item['TextQType'][i] }}.</p>
        <p>Unable to calculate (not enough samples with expected concentrations present in dataset).</p>
    {% endif %}

    <!--Figure 4: Measured concentrations distribution, split by sample types.-->
    <p class="caption"><span class="heading">Figure {{ item['figTabNumber']['3'][i] }}.</span> Measured concentrations distribution, split by sample types, for features {{ item['TextQType'][i] }}.</p>
    <div class='figure'>
        {% for value in item.FeatureConcentrationDistribution[i] %}
            <img src="{{ item.FeatureConcentrationDistribution[i][value] }}">
        {% endfor %}
    </div>


{% endfor %}


<!--Multivariate -->
{% if pcaPlots %}
    {{ pca.basicPCAReport(pcaPlots)}}
{% endif %}

<!--Details of any missing/excluded samples-->
{% if 'StudySamples Exclusion Details' in item.sampleSummary %}
	<h2>Missing/Excluded Study Samples</h2>
	<p class="caption"><span class="heading">Table&nbsp;3.</span> Details of missing/excluded study samples.</p>
	{{ item.sampleSummary['StudySamples Exclusion Details'].to_html() }}
{% endif %}

{% endblock %}
